body{
    border:none;
    background-color: black;
    background-size:cover;
    margin-bottom:0%;
}

.row div{
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
  display: table-cell;
  vertical-align: top;
  width: 80%;
  height: 425px;
  margin: auto;
  background: black;
}